<div class="back">
  <%= render 'shared/header' %>
  <div class="container">
    <% if alert %>
      <div class="alert-message"><%= alert %></div>
    <% end %>
    <div class="box">
      <h1>マイページ</h1>
      <% if current_account.email == 'guest@com' %>
        <%= link_to '編集', edit_account_registration_path, { class: 'ui yellow-disable button right' } %>
      <% else %>
        <%= link_to '編集', edit_account_registration_path, { class: 'ui yellow-button button right' } %>
      <% end %>
      <div class="output">
        <label for="username">ユーザー名</label>
        <div class="el">
          <%= current_account.username %>
        </div>
      </div>
      <div class="output">
        <label for="email">メールアドレス</label>
        <div class="el">
          <%= current_account.email %>
        </div>
      </div>
      <div class="center">
        <% if current_account.email == 'guest@com' %>
          <%= button_to "アカウント削除", registration_path(resource_name), { method: :delete, class: 'ui red-disable button' } %>
        <% else %>
          <%= button_to "アカウント削除", registration_path(resource_name), { data: { confirm: "アカウントを削除してもよろしいですか?" }, method: :delete, class: 'ui red-button button' } %>
        <% end %>
        </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
