<div class="back">
  <%= render 'shared/header' %>
  <div class="container">
    <div class="box">
      <h1>パスワード再発行</h1>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "ui form" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field box-email">
          <%= f.label :email , 'メールアドレス' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email address" %>
        </div>
        <%= f.submit "メール送信" , { class: 'ui yellow-button button login' } %>
      <% end %>
      <div class="box-newusr">
          <p><span></span></p>
          <%= link_to "ログイン画面へ戻る", new_account_session_path %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
