<header>
  <div id="logo">
    <%= link_to image_tag('/assets/logo.png'), root_path %>
  </div>
  <div class="right" >
    <% if account_signed_in? %>
      <ul class="header-menu">
        <li>
            <a href=""><%= current_account.username %> <i class="caret down icon"></i></a>
            <ul>
              <li class="child"><%= link_to '記録一覧',records_path %></li>
              <li class="child"><%= link_to 'カテゴリ一覧',categories_path %></li>
              <li class="child"><%= link_to 'マイページ',accounts_show_path %></li>
              <li class="child"><%= link_to 'ログアウト',destroy_account_session_path, {method: :delete,data: { confirm: "ログアウトしてよろしいですか?" } } %></li>
            </ul>
          </li>
      </ul>
    <% end %>
  </div>
</header>