<div class="back">
  <%= render 'shared/header' %>
  <div class="container">
    <!-- 時間表示 -->
    <div class="time">
      <div class="time-content">
        <div class="time-header">本日の合計</div>
        <p>０３時間３０分</p>
      </div>
      <div class="time-content">
        <div class="time-header">今週の合計</div>
        <p>１３時間４０分</p>
      </div>
      <div class="time-content">
        <div class="time-header">今までの合計</div>
        <p>３５時間２０分</p>
      </div>
    </div>
    <!-- テーブル -->
    <div class="ui top attached tabular menu">
      <a class="active item">
        本日
      </a>
      <!-- <a class="item">
        全て
      </a> -->
        <div class="right menu category-select">
          <p><%= link_to '記録する', new_record_path, { class: 'ui teal button' }  %></p>
          <select class="ui selection dropdown">
            <option value="">全て</option>
            <option value="1">読書</option>
            <option value="0">秘書検定</option>
          </select>
        </div>
    </div>
    <div class="ui bottom attached segment">
      <p>
        <% if @records.length != 0 %>
          <table class="ui fixed table" >
            <thead>
              <tr>
                <th width="98px">日付</th>
                <th width="114px">時間</th>
                <th>内容</th>
                <th width="74px">合計</th>
                <th width="169px"></th>
              </tr>
            </thead>
            <tbody>
              <% @records.each do |record| %>
                <tr>
                  <td><%= record.do_on %></td>
                  <td><%= record.start_at %> 〜 <%= record.end_at %></td>
                  <td><%= record.sammary%></td>
                  <td>01h30m</td>
                  <td>
                    <%= link_to '詳細', record_path(record), { class: 'ui teal button b1' } %>
                    <%= link_to '編集', edit_record_path(record), { class: 'ui yellow button b2' } %>
                    <%= link_to '削除', record_path(record), {method: :delete, class: 'ui red button b3' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% else %>
          <p>NO TASK</p>
          <% end %>
        <!-- ページネーション -->
        <div class="ui pagination menu">
          <a class="active item">
            1
          </a>
          <div class="disabled item">
            ...
          </div>
          <a class="item">
            10
          </a>
          <a class="item">
            11
          </a>
          <a class="item">
            12
          </a>
        </div>
      </p>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
