<div class="back">
  <%= render 'shared/header' %>
  <div class="container">
    <div class="box">
      <h1>記録</h1>
      <%= link_to '編集', edit_record_path(@record), { class: 'ui yellow button right' } %>
      <div class="output">
        <label for="summary">概要</label>
        <div class="el">
          <%= @record.summary %>
        </div>
      </div>
      <div class="output">
        <label for="do_on">日にち</label>
        <div class="el">
          <%= @record.do_on %>
        </div>
      </div>
      <div class="output">
        <label for="start_at">時間</label>
        <div class="el">
          <%= l @record.start_at, format: :short %>
          <div class="time-nyoro">
            <%= image_tag 'nyoro.png' %>
          </div>
          <%= l @record.end_at, format: :short %>
        </div>
      </div>
      <div class="output">
        <label for="total">合計時間</label>
        <div class="el">
          <%= @record.total %>分
        </div>
      </div>
      <div class="output">
        <label for="category_id">カテゴリー</label>
        <div class="el">
          <%= @record.category.name %>
        </div>
      </div>
      <div class="output">
        <label for="content">内容</label>
        <div class="el">
          <%= @record.content %>
        </div>
      </div>
      <div class="bottom_button">
        <%= link_to '編集', edit_record_path(@record), { class: 'ui yellow button right' } %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
