<div class="back">
  <%= render 'shared/header' %>
  <div class="container">
    <% if alert and alert != "" %>
      <div class="ui red message"><%= alert %></div>
    <% end %>
    <% if notice and notice != "" %>
      <div class="ui green message"><%= notice %></div>
    <% end %>
    <div class="box">
      <h1>ログイン</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui form"} ) do |f| %>
        <div class="field box-username">
          <%= f.label :username ,'ユーザー名'%>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "username" %>
        </div>
        <div class="field box-password">
          <div class="column-left"><%= f.label :password , 'パスワード' %></div>
          <div class="column-right"><%= link_to "パスワードを忘れた場合", new_account_password_path %>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
        </div>
        <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="ui checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "ログインしたままにする" %>
          </div>
        </div>
        <% end %>
        <%= f.submit "ログイン" , { class: 'ui yellow button login' } %>
        <!-- <%= f.submit "テストユーザーでログイン" , { class: 'ui yellow button login' } %> -->
      <% end %>
      <div class="box-newusr">
        <p><span>はじめての方はこちら</span></p>
        <%= link_to "新規アカウントを作成", new_account_registration_path, { class: 'ui teal button' } %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
