<div style="width: 300px;">
  <%= form_for(category) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.hidden_field :account_id, value: @category.account_id %>
    <%= f.submit '保存' %>
  <% end %>
</div>