<div class="back">
  <%= render 'shared/header' %>
  <div class="container">
    <div class="top">
      <div class="box">
        <h1>カテゴリ編集</h1>
        <div id="error_explanation">
          <% if @category.errors.any? %>
            <ul>
              <% @category.errors.full_messages.each do |err| %>
              <li><%= err %></li>
              <% end %>
            </ul> 
          <% end %>
        </div>
        <%= render 'form', category: @category %>
        <p class="bottom_link">
        <%= link_to categories_url, {class: 'category-back'} do %>
          <i class="angle double left icon"></i>一覧に戻る
        <% end %>
        </p>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
