<h1>Categories#index</h1>
<%= link_to '新規登録', new_category_path %>
<% if @categories.length != 0 %>
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>user_id</th>
    <th></th>
    <th></th>
  </tr>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td><%= category.account_id %></td>
    <td><%= link_to '編集', edit_category_path(category) %></td>
    <!-- <td><%= link_to '削除', category_path(category), method: :delete %></td> -->
    <td>
      <%= button_to '削除ボタン', category_path(category), method: :delete,
      data: { confirm: '削除してもよろしいですか？' } %>
    </td>
  </tr>
  <% end %>
</table>
<% else %> NO DATA <% end %>
<script>
  window.onload = () => {
    class Confirm {
      constructor(el) {
        this.message = el.getAttribute("data-confirm");
        if (this.message) {
          el.form.addEventListener("submit", this.confirm.bind(this));
        }
      }

      confirm(e) {
        if (!window.confirm(this.message)) {
          e.preventDefault();
        }
      }
    }

    document.querySelector("[data-confirm]") = () => {
      new Confirm(el);
    };
  };
</script>
